body {
    background-color: rgb(11, 195, 228);
  }
  h1 {
    color: rgb(31, 26, 26);
    text-align: center;
  }
  #resultdiv {
    background-color:rgb(38, 0, 100);
    color: rgb(250, 243, 243);
  }
  #deletebutton {
    background-color:orange;
      }
